<!DOCTYPE html>
<html>
<head>
    <title>Flapper News</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="News">
<script type="text/ng-template" id="/home.html">
    <div class="page-header">
        <h1>Flapper News</h1>
    </div>

    <div ng-repeat="post in posts | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
              ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </span>
        <span>
          <a href="#/posts/{{$index}}">Comments</a>
        </span>
    </div>

    <form ng-submit="addPost()"
          style="margin-top:30px;">
        <h3>Add a new post</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Title"
                   ng-model="title"/>
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Link"
                   ng-model="link"/>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</script>

<script type="text/ng-template" id="/sqlform.html">
    <h3>Upload New Question</h3>

    <form novalidate class="simple-form">
     <label>Question String:</label> </br>
        <textarea ng-model = "sqlform.sqlquestion" id= "sqlquestion" cols="30" rows="3"></textarea> </br>
        <label>Correct Answer SQL: </label> </br>
        <textarea ng-model = "sqlform.rightsql" id= "rightsql" cols="30" rows="3"></textarea></br>

        <input type="button" ng-click="validateRight(1)" value="validateRight" /></br>
        <div class="alert {{RightSqlAlertType}}" ng-show="RightSqlShow">
            </button> <strong><preline>{{RightSqlWrongMessage}}</preline></strong>
        </div>

        <label>Alternative Answer SQL:</label> </br>
        <textarea ng-model = "sqlform.wrongsql" id= "wrongsql" cols="30" rows="3"></textarea></br>
        <input type="button" ng-click="validateAlter(3)" value="validateAlter" /></br>

        <div class="alert {{AlterSqlAlertType}}" ng-show="AlterSqlShow">
            <strong><preline>{{AlterSqlWrongMessage}}</preline></strong>
            <li ng-repeat="item in alternativeData">
                {{item["options"]}}
            </li>
        </div>

        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="upload(sqlform)" value="Upload Sql" />
        <div class="alert {{UploadSqlAlertType}}" ng-show="UploadSqlShow">
            <strong><preline>{{UploadSqlMessage}}</preline></strong>

            <!--<div class="row">-->
                <!--<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="background-color: #e5e5f9; margin-top: 10%;">-->
                    <!--<h3 style="text-align: center">Q-{{questions.question}}</h3>-->
                    <!--<div style="width: 100%; margin-top: 40px">-->

                        <!--<div ng-repeat="option in questions.options" style="width: 100%">-->
                            <!--<input type="radio" name="user_answer" ng-model="$parent.user_answer" ng-value="{{option}}" ng-disabled="option.disabled"/>({{$index}}.) {{option.answerText}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    </form>
</script>

<script type="text/ng-template" id="/posts.html">
    <div class="page-header">
        <h3>
            <a ng-show="post.link" href="{{post.link}}">
                {{post.title}}
            </a>
            <span ng-hide="post.link">
          {{post.title}}
        </span>
        </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>

    <form ng-submit="addComment()"
          style="margin-top:30px;">
        <h3>Add a new comment</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Comment"
                   ng-model="body"/>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</script>

<script type="text/ng-template" id="/quizs.html">
    <span ng-repeat="quiz in quizs">
        <!--{{quiz}}-->
        <a href="/#/quiz/{{quiz}}">
            {{$index+1}}
        </a>
    </span>

    <form ng-submit="addQuiz()"
          style="margin-top:30px;">
        <h3>Add a new Question</h3>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Question"
                   ng-model="question"/>
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="SQL"
                   ng-model="sql"/>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <li ng-repeat="question in questions">
        {{ question.questionText }}
        <ul  id="quest_{{$parent.$index}}">
            <li ng-repeat="answer in question.answers">
                <label class="isCorrect_{{answer.selected}}" for="quest_{{$parent.$index}}_answer_{{$index}}">
                    <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}"
                           ng-model="answers[$parent.$index]" value="{{ answer.answerText }}"  name="quest_{{$parent.$index}}_answers" />
                    {{ answer.answerText }}
                </label>
            </li>
        </ul>
    </li>
    <button class="btn" type="submit" ng:click="showResult()">Submit</button>
    <div class="well">
        <p>you got {{ correctCount }} out of {{questions.length}} right</p>
</script>

<script type="text/ng-template" id="/quiz.html">
    <!--{{quiz_all}}-->
    <span ng-repeat="quiz in quiz_all">
        <a href="/#/quiz/{{quiz}}">
            {{$index+1}}
        </a>
    </span>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="background-color: #e5e5f9; margin-top: 10%;">
                <h3 style="text-align: center">Q-{{questions.question}}</h3>
                <div style="width: 100%; margin-top: 40px">

                    <div ng-repeat="option in questions.options" style="width: 100%">
                        <input type="radio" name="user_answer" ng-model="$parent.user_answer" ng-value="{{option}}" ng-disabled="option.disabled"/>({{$index | numberToAlphabet}}.) {{option.answerText}}
                    </div>
            </div>
        </div>
        </div>
    </div>

</script>


<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <ui-view></ui-view>

    </div>
</div>

<style>
    preline{
        white-space: pre-line;
    }
</style>

<!-- External dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Own JS files -->
<script src="javascripts/angularApp.js"></script>
<script src="javascripts/controllers/quizcontroller.js"></script>
<script src="javascripts/controllers/quizscontroller.js"></script>

<script src="javascripts/controllers/testcontroller.js"></script>
<script src="javascripts/controllers/postcontroller.js"></script>
<script src="javascripts/controllers/maincontroller.js"></script>
<script src="javascripts/quiz_service.js"></script>
<script src="javascripts/service.js"></script>
<script src="javascripts/configure.js"></script>
</body>
</html>